![Banner-Introducci-n.png](https://i.postimg.cc/VkCcqsvv/Banner-Introducci-n.png)

# Introducción a ciencia de datos


## L2:Tablas de contingencia y pruebas chi cuadrado

De acuerdo con el caso de uso del sector **retail**  se van a desarrollar en los temas vistos en las infografías y videos anteriores

### Objetivos
1. Entender la construcción de una tabla de contingencia
2. Identificar los perfiles filas y perfiles columna
3. Interpretar la hipótesis encontrada con la prueba chi cuadrado

**Autor:** David Ocampo

d.ocampo@uniandes.edu.co

### 1. Contexto del caso
La compañía está muy interesada en generar estrategias de ventas más focalizadas tanto en productos como en los departamentos de ventas de este, por lo tanto se debe guiar un análisis que nos muestre cuáles posibles relaciones existen entre estas dos variables para generar las estrategias comerciales correctas tanto en aliados como en distribución. Se debe conducir una prueba piloto con los departamentos con más ventas así como los productos que se venden mas.

### 2. Importación de librerías y archivos
En las siguientes líneas de código se importaran los materiales de trabajo necesarios para desarrollar el caso de uso, en esto se incluyen las *librerías y los datos*

In [1]:
# Importar las librerías necesarias según el análisis que se vaya a realizar
# Librería para comando de sistema
import os
# Librería para manejo de datos
import pandas as pd
# Librería para el test chi cuadrado
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [9]:
# cargar los datos en csv
data= pd.read_csv(r'C:\Users\Usuario\Documents\CIENCIA DE DATOS\REPOSITORIO GITHUB\INTRO A CIENCIA DE DATOS APLICADA ejercicios\2. Ejercicio retail\Ordenes_productos_C1_M2.3.csv', sep=';',encoding='latin-1')

Es importante tener en cuenta la visualización de los datos porque además de contexto se puede entender mucho mejor de qué se está hablando y qué tipos de datos se han cargado desde la máquina

In [17]:
# Visualizar los primeros registros
data.head(5)

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,7/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6.0,7.0,27.0,2486.0,17.0,11.0,14.0
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10.0,1.0,6.0,734.0,46.0,48.0,22.0
4,84639PR12A,A,PR12,VE5090,7/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23.0,16.0,35.0,884.0,45.0,26.0,18.0

### 3. Tablas de contingencia
La tabla de contingencia es una de las técnicas para explorar dos o incluso más variables. Básicamente es un recuento de recuentos entre dos o más variables categóricas. La información sin procesar puede ser difícil de interpretar. Incluso para pequeños conjuntos de datos, es demasiado fácil obtener resultados incorrectos con solo mirar los datos. La tabla ofrece un método simple de agrupar variables, que minimiza el potencial de confusión o error al proporcionar resultados claros.

**Hipótesis:** El departamento donde se concentran los top 5 productos es NARIÑO

In [19]:
# Buscar los top 5 categorías de productos 
categoria_top=data.groupby('nombre_categoria_producto').count().reset_index()[['nombre_categoria_producto','producto_id']].sort_values(by=['producto_id'], ascending=False)
categoria_top_lista=categoria_top.head()['nombre_categoria_producto']
categoria_top.head()

   nombre_categoria_producto  producto_id
19                Tecnología          542
3                   Deportes          537
7          Frutas y verduras          531
1                 Carnicería          523
15           Ropa de adultos          521

In [21]:
# Encontrar los departamentos top 5
departamento_top=data.groupby('departamento_vendedor').count().reset_index()[['departamento_vendedor','producto_id']].sort_values(by=['producto_id'], ascending=False)
departamento_top_lista=departamento_top.head()['departamento_vendedor'].to_list()
departamento_top.head()

   departamento_vendedor  producto_id
21                Nariño         3648
20                  Meta         1258
22    Norte de santander          473
25             Risaralda          405
7                 Caldas          378

In [25]:
# Filtrar por los departamentos top
data_top=data[data['nombre_categoria_producto'].isin(categoria_top_lista) & data['departamento_vendedor'].isin(departamento_top_lista)]
data_top.head()

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
5,73003PS37A,A,PS37,VE3806,9/12/2017 16:52,132.51,33.68,52356,Ipiales,Nariño,Carnicería,13.0,19.0,29.0,811.0,29.0,9.0,16.0
6,41673PB76A,A,PB76,VE2456,11/02/2018 20:04,420.95,12.19,52240,Chachagui,Nariño,Ropa de adultos,8.0,37.0,24.0,621.0,26.0,41.0,29.0
8,6725PK32A,A,PK32,VE8613,30/01/2018 17:32,113.54,4.48,52381,La florida,Nariño,Deportes,7.0,11.0,30.0,30.0,50.0,26.0,17.0

Una vez realizado el filtrado de los productos top y las categorías top se realiza la tabla de contingencia para analizar cómo se distribuyen las ventas departamento vs categoría

In [30]:
# Construir la tabla de contingencia
tabla_contingencia=pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'],margins = True)
tabla_contingencia

departamento_vendedor,Caldas,Meta,Nariño,Norte de santander,Risaralda,All
nombre_categoria_producto,,,,,,
Carnicería,19,65,188,24,19,315
Deportes,21,75,209,20,14,339
Frutas y verduras,25,71,189,28,20,333
Ropa de adultos,12,66,205,28,19,330
Tecnología,21,63,196,26,19,325
All,98,340,987,126,91,1642

Análisis: Rápidamente podemos ver que el departamento Nariño en efecto es el que mayormente genera ventas de las categorías top, ahora vamos a extender el análisis por filas y columnas para identificar diferentes tipos de hipótesis

## 3.1. Análisis fila
Al construir una tabla de contingencia, en cada celda se coloca el total de casos que cumplen las categorías donde se cruzan. Para calcular los porcentajes por filas, se divide el número de casos de cada casilla, con el total de casos de la fila.

**Hipótesis:** Es claro que la mayor cantidad de ventas se va a concentrar en Nariño, por lo tanto la organización quiere analizar si la categoría Frutas y verduras y Ropa de adultos tienen alguna ciudad de preferencia de ventas

In [32]:
# Construir tabla de contingencia para análisis fila
pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'],margins = True, normalize='index')

departamento_vendedor,Caldas,Meta,Nariño,Norte de santander,Risaralda
nombre_categoria_producto,,,,,
Carnicería,0.060317,0.206349,0.596825,0.076190,0.060317
Deportes,0.061947,0.221239,0.616519,0.058997,0.041298
Frutas y verduras,0.075075,0.213213,0.567568,0.084084,0.060060
Ropa de adultos,0.036364,0.200000,0.621212,0.084848,0.057576
Tecnología,0.064615,0.193846,0.603077,0.080000,0.058462
All,0.059683,0.207065,0.601096,0.076736,0.055420

Análisis: Para el caso de Frutas y verduras vemos que donde más se vende es en el departamento de Nariño adicionalmente se da el caso para la categoría de ropa de adultos, sin embargo como nos estamos fijando en los departamentos que le siguen en ventas, vemos que para Frutas y verduras así como para ropa de adultos su competidor es el departamento del Meta

## 3.2. Análisis columna
De manera análoga para calcular los porcentajes por columnas, se divide el número de casos de cada casilla, con el total de casos de la columna.

**Hipótesis:** Es necesario identificar en que departamento se tienen la mayor cantidad de ventas en las categoría de Frutas y verduras y la ropa de adultos

In [34]:
# Construir tabla de contingencia para análisis columna
pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'],margins = True, normalize='columns')

departamento_vendedor,Caldas,Meta,Nariño,Norte de santander,Risaralda,All
nombre_categoria_producto,,,,,,
Carnicería,0.193878,0.191176,0.190476,0.190476,0.208791,0.191839
Deportes,0.214286,0.220588,0.211753,0.158730,0.153846,0.206456
Frutas y verduras,0.255102,0.208824,0.191489,0.222222,0.219780,0.202801
Ropa de adultos,0.122449,0.194118,0.207700,0.222222,0.208791,0.200974
Tecnología,0.214286,0.185294,0.198582,0.206349,0.208791,0.197929

Análisis: Para el departamento Nariño no se vende es Frutas y verduras tanto como en Norte de Santander, adicionalmente no ocurre con la categoría de Ropa de adultos que se vende en su mayoría en Risaralda

### 3.3. Análisis de totales

El objetivo de esta técnica estadística es averiguar si las dos variables están relacionadas y la manera de averiguarlo es mediante la distribución de porcentajes. Concretamente se trata de analizar si la distribución de porcentajes de una variable se repiten por igual en las categorías de la otra variable.

**Hipótesis:** Es posible identificar cuál es el producto que menos se vende en todas las ciudades

In [36]:
# Construir tabla de contingencia para análisis total con porcentajes
pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'],margins = True, normalize='all')

departamento_vendedor,Caldas,Meta,Nariño,Norte de santander,Risaralda,All
nombre_categoria_producto,,,,,,
Carnicería,0.011571,0.039586,0.114495,0.014616,0.011571,0.191839
Deportes,0.012789,0.045676,0.127284,0.012180,0.008526,0.206456
Frutas y verduras,0.015225,0.043240,0.115104,0.017052,0.012180,0.202801
Ropa de adultos,0.007308,0.040195,0.124848,0.017052,0.011571,0.200974
Tecnología,0.012789,0.038368,0.119367,0.015834,0.011571,0.197929
All,0.059683,0.207065,0.601096,0.076736,0.055420,1.000000

In [38]:
tabla_contingencia

departamento_vendedor,Caldas,Meta,Nariño,Norte de santander,Risaralda,All
nombre_categoria_producto,,,,,,
Carnicería,19,65,188,24,19,315
Deportes,21,75,209,20,14,339
Frutas y verduras,25,71,189,28,20,333
Ropa de adultos,12,66,205,28,19,330
Tecnología,21,63,196,26,19,325
All,98,340,987,126,91,1642

Análisis: Con la tabla de continecia de los porcentajes podemos identificar que el que menos se vende es los productos de carnicería con un porcentaje de apenas 18% de todas las ventas, esto lo podemos contrastar con la tabla totalizada con apenas 306 ventas, es importante ver que con esta ayuda de porcentajes el análisis es mucho más rápido y podemos al final corroborar con los datos originales, incluso con las funciones integradas podemos volver a confirmar.

In [40]:
# Utilizar el mínimo para columnas
tabla_contingencia.min()

departamento_vendedor
Caldas                 12
Meta                   63
Nariño                188
Norte de santander     20
Risaralda              14
All                   315
dtype: int64

In [42]:
# Utilizar el mínimo para filas
tabla_contingencia.transpose().min()

nombre_categoria_producto
Carnicería           19
Deportes             14
Frutas y verduras    20
Ropa de adultos      12
Tecnología           19
All                  91
dtype: int64

### 4. Prueba Chi-cuadrado
La prueba de chi-cuadrado es una prueba de hipótesis estadística que asume (la hipótesis nula) que las frecuencias observadas para una variable categórica coinciden con las frecuencias esperadas para la variable categórica. Para determinar la existencia o no de independencia entre dos variables. Que dos variables sean independientes significa que no tienen relación, y que por lo tanto una no depende de la otra, ni viceversa.
Así, con el estudio de la independencia, se origina también un método para verificar si las frecuencias observadas en cada categoría son compatibles con la independencia entre ambas variables.

**Hipótesis:** Las ventas de las categorías de productos no están relacionadas con el departamento que se venda

In [44]:
# Establecer los valores del test chi cuadrado
chi, pval, dof, exp = chi2_contingency(tabla_contingencia)

# chi: valor del test
# pval: p-valor del test
# dof: grados de libertad

# Imprimir los resultados del test
print('p-valor es: ', pval)

# Establecer la significancia del test
significancia = 0.05
p = 1 - significancia

# Establecer el valor crítico
valor_critico = chi2.ppf(p, dof)
print('chi=%.6f, valor crítico=%.6f\n' % (chi, valor_critico))

# Según el valor crítico se toma la decisión de rechazar o no la hipótesis 
if chi > valor_critico:
    print("""A un %.2f de nivel de significancia, se rechaza la hipótesis nula y se acepta H1. 
No son independientes, por lo tanto están correlacionados""" % (significancia))
else:
    print("""A un %.2f de nivel de significancia, no se rechaza la hipótesis nula. 
Son independientes, no tienen relación""" % (significancia))

p-valor es:  0.9972751245788251
chi=9.748697, valor crítico=37.652484

A un 0.05 de nivel de significancia, no se rechaza la hipótesis nula.
Son independientes, no tienen relación

Análisis: Se puede establecer que no tienen algún tipo de relación las categorías y los sitios de venta, esto se puede dar por las características culturales de algún lugar, o por los habitos de consumo, lo que nos indica que podemos como organización podemos utilizar las mismas estrategias de venta independientemente del producto

![Banner-Introducci-n.png](https://i.postimg.cc/VkCcqsvv/Banner-Introducci-n.png)